.cards-section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 380px;
    grid-gap: 20px;
}

.active {
    color: #895B1E;
    font-size: 1.5rem;

}

.no-favs {
    text-align: center;
    font-size: 1.5rem;
}

.home-link {
    font-family: 'proxima-nova', sans-serif;
    border-radius: 3px;
    margin-left: 46%;
    outline: 1px black solid;
    display: inline-block;
}