.card-cont {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  text-align: center;
}

.card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  width: 100%;
  height: 100%;
  text-align: baseline;
  text-indent: 1em;
}

.card-front, .card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card-back {
  /* top: 50;
  left: 0; */
  transform: rotateY(180deg);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(108, 193, 208);
  color: white;
  font-weight: 500;
}

/* .card-cont, .card-inner {
  transform: rotateY(180deg);
} */

.tea-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

h3 {
  margin: 0;
}

.img-wrapper {
  position: relative;
}

.fav-btn {
  position: absolute;
  top: 5px;
  right: 30px;
  padding: 5px 10px;
  font-size: 50px;
  cursor: pointer;
  z-index: 100;
  border: none;
  background-color: transparent;
}

.tasting-notes {
  font-size: small;
  text-align: left;
  text-wrap: auto;
  width: 50%;
}