.card-cont {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(white, white) padding-box,
  radial-gradient( rgb(175, 186, 175), rgba(223, 229, 224, 0.408));
  border-radius: 5px;
  border: 3px solid transparent;
  padding: 10%;
}

.card-cont:hover {
  cursor: pointer;
}

.card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  text-align: center;
}

.card-front, .card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card-back {
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(177,174,145, .5);
  color: black;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tea-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

h3 {
  margin: 0;
  padding: 5px 5px;
  float: inline-start;
}

.img-wrapper {
  position: relative;
}

.unfav-btn {
  height: 30px;
  width: 30px;
}

.fav-btn{
  position: absolute;
  top: 4px;
  right: -55px;
  padding: 5px 10px;
  font-size: 50px;
  cursor: pointer;
  z-index: 100;
  border: none;
  background-color: transparent;
}

.tasting-notes {
  font-size: small;
  text-align: left;
  text-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 5px 5px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 10px 0px;
  margin-top: 5px;
}

.card-wrapper {
  position: relative;
}

.card-back-dl{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: fit-content;
  text-align: left;
  padding: 8px 8px;
}

.card-back-text {
  margin-left: 8px;
  margin-bottom: 5px;
}