.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 70%;
    padding-left: 2%;
}

.tea-img {
    width: 700px;
}

.img-wrapper {
    text-align: center;
}

.name-wrapper {
    display: flex;
    justify-content: space-between;
}

.fav-btn {
    padding: 0px 12px 0px 12px;
}

