.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.infoButton {
    width: 250px;
    height: 40px;
    font-size: 2vh;
    background-color: white;
    border-radius: 5%;
}

.article-tea {
    display: flex;
    margin-top: 100px;
    background-color: hsla(120, 7%, 92%, 0.461);
    min-height: 80vh;
    align-items: center;
}

.article-intro {
    background-color: hsla(120, 7%, 92%, 0.461);
    min-height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.info-desc {
    padding: 80px;
}

.home-img {
    height: 80vh;
    width: auto;
}

h2 {
    font-size: 3em;
    font-weight: 300;
}