.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.education-link, .home-nav-link {
    width: fit-content;
    height: fit-content;
    font-size: 3vh;
    border-radius: 15px;
    margin-bottom: 10px;
}

.education-link:hover, .home-nav-link:hover {
    background-color: white;
}

.article-tea {
    display: flex;
    margin-top: 100px;
    background-color: hsla(120, 7%, 92%, 0.461);
    min-height: 80vh;
    align-items: center;
}

.article-intro {
    background-color: hsla(120, 7%, 92%, 0.461);
    min-height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.info-desc {
    padding: 80px;
}

.home-img {
    height: 80vh;
    width: auto;
}

h2 {
    font-size: 5em;
    font-weight: 300;
}