.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
}

.education-link, .home-nav-link {
    width: fit-content;
    height: fit-content;
    font-size: 3vh;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    color: #010101;
}

.education-link:hover, .home-nav-link:hover {
    background-color: white;
}

.article-tea {
    display: flex;
    margin-top: 100px;
    background-color: hsla(120, 7%, 92%, 0.461);
    min-height: 80vh;
    align-items: center;
}

.article-intro {
    background-color: hsla(120, 7%, 92%, 0.461);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.info-desc {
    font-size: larger;
    background-color: hsla(120, 7%, 92%, 0.461);
    padding: 20px 10px 20px 50px;
    text-align: left;
    width: 95%;
}

.home-img {
    height: 80vh;
    width: auto;
}

h2 {
    font-size: 5em;
    font-weight: 300;
    margin: 0;
    padding: 0px 20px 0px 20px;
}

.creation-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    padding: 0px 20px 0px 20px;
}

.creation-info {
    border-radius: 20px 40px;
    padding: 15px;
    background-color: hsla(120, 7%, 92%, 0.461);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
}

.creation-p {
    margin: 20px 0px 5px 0px;
    font-size: larger;
    padding: 0px 20px 0px 20px;
}

@media screen and (max-width: 1116px) {
    .article-intro {
        flex-direction: column-reverse;
    }

    .creation-wrapper {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 850px) {    
    .tea-image {
        display: none;
    }

    .article-tea {
        min-height: 400px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 580px) {
    .creation-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .home-h2 {
        font-size: 60px;
    }
}