@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Delicious+Handrawn&family=Enriqueta:wght@400;500;600;700&family=Lexend:wght@100..900&family=Macondo+Swash+Caps&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.nav-bar {
    border-width: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    min-height: fit-content;
    font-family: 'proxima-nova', sans-serif;
}

a {
    text-decoration: none;
    font-size: 1em;
    color: #010101;
    padding: 5px;
}

a:hover {
    background-color: hsla(120, 7%, 92%, 0.461);
    border-radius: 15px;
    cursor: pointer;
}

.navlink {
    margin-left: 20px;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
}

.div-nav-left {
    margin-left: 20px;
}

.div-nav-right {
    margin-right: 20px;
    height: min-content;
    display: flex;
}

.favorite-img,
.nav-favorites {
    height: 1.5em;
    width: 1.5em;
}