.nav-bar {
    border-width: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    min-height: fit-content; 
}

a {
    text-decoration: none;
    font-size: 1em;
    color: #010101;
    margin-left: 20px;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

.div-nav-left {
    margin-left: 20px;
}

.div-nav-right {
    margin-right: 20px;
    height: min-content;
    display: flex;
}

.favorite-img, .nav-favorites {
    height: 1.5em;
    width: 1.5em;
}
